        .container {
            width: 75%;
            height: 650px;
            margin: auto;
            background: transparent;
            display: grid;
        }
        .container > h2 {
            grid-column: 1/5;
            grid-row: 1/2;
            background: transparent;
            margin: 0px;
            line-height: 50px;
            text-align: center;
            color: white;
        }
        .grid {
            display: flex;
            gap: 20px;
            margin-top: 10px;
            padding: 0px 0px 30px 0px;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            background: transparent;
        }
        .grid .grid-item .txtnosotros h2 {
            background: #f9f9f9;
            padding: 20px;
            /* border: 1px solid #ddd; */
            border-radius: 5px;
            text-align: justify;
            color: white;
        }
         
        /* .gird {
            grid-column: 1/5;
            grid-row: 2/4;
            width: 100%;
            height: 100%;
            background: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
            padding: 0px 0px 30px 0px;
          } */
        /* .grid-item {
            background: #f9f9f9;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            text-align: center;
        }
        .grid-item img {
            max-width: 100px;
            margin-bottom: 20px;
        }
        .grid-item h3 {
            margin: 0 0 10px;
        }
        @media (max-width: 600px) {
            .grid {
                grid-template-columns: 1fr;
            }
        } */
